<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>
        <% if (message) { %>
            <%- messages() %>
                <% if (errors) { %>
                    <ul class="notice">
                        <% errors.array().forEach(error=> { %>
                            <li>
                                <%= error.msg %>
                            </li>
                            <% }) %>
                    </ul>
                    <% } %>
                        <% } %>


<form id="classificationForm" action="/inv/add-classification" method="post">
    <label for="classification_name">Classification name
        <input type="text" id="classification_name" name="classification_name" required pattern="^[A-Za-z0-9]+$"
            title="No spaces or special characters allowed" value="<%= locals.classification_name %>">
    </label>

    <button type="submit">Add Classification</button>
</form>